<mat-toolbar color="primary">
  <a class="button" mat-button routerLink="">
    <i class="material-icons">list</i>{{ "nav.listUsers"|translate }}
  </a>
  <span class="space-between-elements"></span>
  <a routerLink="" mat-button id="website">
    {{ "nav.title" | translate }}
  </a>
  <span class="space-between-elements"></span>

  <mat-menu #appMenu="matMenu">
    <div *ngIf="!logged">
      <a mat-menu-item color="accent" routerLink="/login">{{
        "nav.buttons.login"|translate
      }}</a>
      <a mat-menu-item color="accent" routerLink="/signup">{{
        "nav.buttons.register"|translate
      }}</a>
    </div>
    <div *ngIf="logged">
      <a mat-menu-item color="accent" routerLink="/profile">{{
        "nav.buttons.profile"|translate
      }}</a>
      <button mat-menu-item color="accent" (click)="logOut()">
        {{ "nav.buttons.logout"|translate }}
      </button>
    </div>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <i class="material-icons">
      person
    </i>
  </button>
</mat-toolbar>

<!--a not so good way to show elements :) -->
<!-- <mat-expansion-panel color="warn">
    <mat-expansion-panel-header>
      <i class="material-icons">
        person
      </i>

    </mat-expansion-panel-header>
    <div *ngIf="!loggedIn">
        <button mat-button color="accent">Login</button>
        <button mat-button color="accent">Register</button>
      
    </div>
    <div *ngIf="loggedIn">
        <button mat-button color="accent">Profile</button>
        <button mat-button color="accent">Logout</button>
    </div>
  </mat-expansion-panel> -->
