<div class="container">
    <button mat-button (click)="onEdit()">{{editButtonText}}</button>

    <mat-form-field color="accent" >
      <input
        matInput
        type="email"
        [formControl]="email"
        placeholder="{{'forms.email'|translate}}"
        required
      />
    </mat-form-field>
  
    <mat-form-field color="accent">
      <input
        matInput
        type="password"
        [formControl]="password"
        placeholder="{{'forms.password'|translate}}"
        required
      />
    </mat-form-field>
    <button
      type="submit"
      color="primary"
      mat-button
      (click)="submitData()"
      [disabled]="!email.valid || !password.valid || !editable"
    >
      {{'forms.submit'|translate}}
    </button>

  </div>
  