<div>
  <h3>{{'nav.buttons.register'|translate}}</h3>
  <mat-vertical-stepper linear>
    <mat-step label="{{'forms.emailFirst'| translate}}">
      <mat-form-field color="accent">
          <mat-hint *ngIf="!email.valid" color="warn">{{'forms.mailError'|translate}}</mat-hint>
        <input
          matInput
          type="email"
          [formControl]="email"
          placeholder="Email"
          required
        />
      </mat-form-field>
    </mat-step>
    <mat-step label="{{'forms.passSecond'| translate}}">
      <mat-form-field color="accent">
        <mat-hint *ngIf="!password.valid" color="warn">{{'forms.passError'|translate}}</mat-hint>

        <input
          matInput
          type="password"
          [formControl]="password"
          placeholder="Password"
          required
        />
      </mat-form-field>
    </mat-step>
    <mat-step label="{{'forms.passConfirm'| translate}}">
      <mat-form-field color="accent">
        <mat-hint *ngIf="password.value!=confirmPassword.value" color="warn">{{'forms.passConfirmError'|translate}}</mat-hint>
        <input
          matInput
          type="password"
          [formControl]="confirmPassword"
          placeholder="Confirm Password"
          required
        />
      </mat-form-field>
    </mat-step>
    <mat-step label="{{'forms.done'|translate}}">
      <button
        type="submit"
        color="primary"
        mat-button
        (click)="submitData()"
        [disabled]="!email.valid ||
          !password.valid ||
          password.value != confirmPassword.value">
        {{'forms.submit'|translate}}
      </button>
    </mat-step>
  </mat-vertical-stepper>
</div>
